<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/920fc11e-8d8a-4fa6-aee1-3d65e4814269/resourceGroups/rg-ecommerce-interview/providers/Microsoft.Web/sites/ecommerce-api-gateway-prad</ResourceId>
    <ResourceGroup>rg-ecommerce-interview</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ecommerce-api-gateway-prad-hgbsbgh3e4h0cfam.indiasouthcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a1b2c3d4-0001-0001-0001-000000000001</ProjectGuid>
    <PublishUrl>https://ecommerce-api-gateway-prad-hgbsbgh3e4h0cfam.scm.indiasouthcentral-01.azurewebsites.net/</PublishUrl>
    <UserName>$ecommerce-api-gateway-prad</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>